<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <h4>No UrlId</h4><br/>
  Use  /shorten?longUrl=https://www.google.com<br/>
  Save the returned urlId<br/>
  Then call the short address /#urlId# <br/>
  </body>
</html>
