<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="refresh" content="0; url=https://www.quali.fit" />
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <script language="javascript">
    window.location.href = "https://www.quali.fit"
  </script>
  <body>
  <!--<h4>No UrlId</h4><br/>-->
  <!--Use  /shorten?longUrl=https://www.google.com<br/>-->
  <!--Save the returned urlId<br/>-->
  <!--Then call the short address /#urlId# <br/>-->
  </body>
</html>
